<h2><%=@product.product_detail %></h2>

<form method="post"  action="/products/<%=@product.id%>">
	<input type="hidden" name="_method" value="put" />
  <div class="form-group">
	   			<input type="text"  class="form-control" placeholder="edit your product detail" name="product[product_detail]">
	   			<input type="text"  class="form-control" placeholder="edit your product price" name="product[product_price]">
  </div>
  		
  		<button type="submit" class="btn btn-default">Change</button>
 </form>