<form method="post" action="/products/<%= @user.id%>">

	<h2>Please enter your product details</h2>

	<br><input class="form-control" type="text" placeholder="product details" name="product[product_detail]"></br>

	<br><input class="form-control" type="text" placeholder="price" name="product[product_price]"></br>
	
	<input type=submit value="Submit">

</form>